<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/5bb44fdb1a.js"></script>
    <title>Surfblog</title>
  </head>
  <body>

    <div class="ui teal stackable fixed menu">
      <div class="header item">
        <i class="fas fa-swimmer"></i>
      </div>
      <a class="active item" href="/surf">Home</a>
      <a class="item">New Post</a>
    </div>
