<% include partials/header %>

<div class="ui main container">
  <div class="ui huge header">
    <h1>Home Page</h1>
  </div>
</div>

<div class="ui container">
    <% blogs.forEach(function(blog){ %>
      <div class="ui segment">
        <div class="ui header">
          <h2><%= blog.title %></h2>
        </div>
        <div class="image">
          <img src="<%= blog.image %>">
        </div>
        <div class="description">
          <p><%= blog.body %></p>
        </div>
      </div>
    <% }); %>
</div>

<% include partials/footer %>
