<% include partials/header %>

<div class="ui form">
  <div class="field">
    <label>Title</label>
  </div>
  <div class="field">
    <label>Image</label>
  </div>
  <div class="field">
    <label>Body</label>
  </div>
</div>

<% include partials/footer %>
